font-family = Monaspace Neon
font-size = 12
font-thicken = true
font-feature = "-calt"
font-feature = "-liga"
font-feature = "-dlig"
macos-option-as-alt = true

cursor-style = underline
cursor-style-blink = false
shell-integration-features = no-cursor

window-height = 40
window-width = 120
adjust-cell-width = -10%

# https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/ghostty/GitHub%20Dark
palette = 0=#000000
palette = 1=#f78166
palette = 2=#56d364
palette = 3=#e3b341
palette = 4=#6ca4f8
palette = 5=#db61a2
palette = 6=#2b7489
palette = 7=#ffffff
palette = 8=#4d4d4d
palette = 9=#f78166
palette = 10=#56d364
palette = 11=#e3b341
palette = 12=#6ca4f8
palette = 13=#db61a2
palette = 14=#2b7489
palette = 15=#ffffff
background = 101216
foreground = ffffff
cursor-color = c9d1d9
selection-background = 3b5070
selection-foreground = ffffff